.NavigationItem {
    display: flex;
    height: 100%;
    width: auto;
    align-items: baseline;
    justify-content: baseline;
}

.NavigationItem a {
    font-weight: 600;
    color: white;
    height: 100%;
    padding: 22px 10px;
    padding-bottom: 0;
    text-decoration: none;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    background-color: white;
    border-bottom: 4px solid #ffabe1;
    border-right: 3px solid #ffabe1;
    color: #6155a6;
    transition: 0.3s;
}